*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	list-style: none;
	text-decoration: none;
}
body.home{
	background-image: url(../images/28.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;

}
body.About{
	background-image: url(../images/109.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;

}
body.Electronics{
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

	body.Electronics::before {
		background-image: url(../images/Ele.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
    content: '';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;

}
.products{
	position: absolute;
	margin-top: 100px;
	width: 1100px;
	top: 400px;
	left: 50%;
	transform: translateX(-50%);
}
h2#sec{
	position: absolute;
	margin-top: 800px;
	left: 50%;
	transform: translateX(-50%);
}
#pc{
	position: absolute;
	margin-top: 1000px;
	width: 1100px;
	left: 50%;
	transform: translateX(-50%);
}

h2#thr{
	position: absolute;
	margin-top: 1800px;
	left: 50%;
	transform: translateX(-50%);
}
#car{
	position: absolute;
	margin-top: 2000px;
	width: 1100px;
	left: 50%;
	transform: translateX(-50%);
}
#box{
	position: relative;
	width: 300px;
	height: 250px;
	box-sizing: border-box;
	float: left;
	margin-bottom: 100px;
	background-color: rgba(255, 255, 255, .8);
	border-radius: 10px;
	box-shadow: 5px 10px 5px rgba(0,0,0, 0.5);

}
img{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;

}
.middle{
	margin-right: 100px;
	margin-left: 100px;
}
#spe{
	position: absolute;
	top: 50px;
	background-color: rgba(194, 188, 184, 0.7);
	text-align: center;
	padding: 10px 15px;
	width: auto;
	height: auto;
	left: 50%;
	transform: translateX(-50%);

}
h1{
	color: #fff;
	font-family: 'Luckiest Guy', serif;
  font-size: 50px;
	-webkit-text-stroke: 1px #5E5350;
	letter-spacing: 3px;
	height: auto;
	box-shadow: #EAEAEA 0px 0px 10px 10px;

}
h2{
	color: #000;
	font-family: 'Fjalla One', sans-serif;
	font-size: 25px;
	position: absolute;
	margin-top: 300px;
	padding: 10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(255, 255, 255, 1);
	border-radius: 5px;
	box-shadow: 5px 10px 5px rgba(0,0,0, 0.5);

}
h4{
	font-family: 'Fjalla One', sans-serif;
	font-size: 17px;
	font-weight: 300;
	letter-spacing: 1px;
	position: absolute;
	color: black;
	width: 100%;
	top: -52;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	background-color: rgba(255,255,255,.8);
	border-radius: 10px;
	min-height: 42px;
	box-shadow: 5px 10px 5px rgba(0,0,0, 0.5);


}
#padd{
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 90%;
	height: 90%;
}
a{
	color:#fff;
	font-size:20px;
	text-decoration:none;
}
i {
	margin-right: 20px;
}
.fa-home, .fa-question, .fa-search{
	text-align: center;
	font-size: 30px;
	width: 30px;
	margin-right: 15px;

}

#header{
	position: absolute;
	width:100%;
	height:auto;
	text-align: center;
	float: left;


}
.counter{
	position: fixed;
	margin: 5px;
	bottom: 0;
	right: 0;
	width: 30px;
	height: 15px;
	opacity: .7;

}
#mobile-menu{
	display: none;
}
.nav {
	position: fixed;
	height: 100%;
	width: 0;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	opacity: .8;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.9s;
}
.nav a {
	padding-top: 20px;
	font-size: 25px;
}
.nav a:hover {
	color: #fff;
	transition: 0.4s;
}
.nav .close {
	position: absolute;
	top: 0;
	right: 0px;
}
.fa-angle-left{
	font-size: 40px;
}
.fa-angle-right{
	font-size: 40px;
	position: fixed;
	color: #000;
}
.About .fa-angle-right{
	color: #fff;
}
.slide a {
	color: #000;
	font-size: 36px;
}
#content {
	padding: 20px;
	transition: margin-left 0.9s;
	overflow: hidden;
	width: 100%;
}
.About #Commingsoon{
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	color: #fff;
	font-family: 'Fjalla One', sans-serif;
	font-size: 70px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
#Commingsoon{
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	color: #000;
	font-family: 'Fjalla One', sans-serif;
	font-size: 70px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.centereddiv{
	position: absolute;
	background-color: rgba(252, 252, 252, 0.3);
	box-shadow: 5px 10px 5px rgba(0,0,0, 0.5);
	border: 1px solid rgba(0,0,0, 0.2);
	border-radius: 10px;
	padding: 10px;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.text{
	margin-top:10px;
	position: relative;
	font-family: 'Bitter', serif;
	font-size: 40px;
	text-align:center;

}
.text2{
	position: relative;
	margin: 20px;
	font-size: 18px;
	font-family: 'Bitter', serif;
	font-weight: bolder;
	text-align: left;
}
ul{
	margin-top: 10px;
}
.item{
	border-bottom: : 1px solid #E5E5E7;
	overflow: hidden;
}
.itema{
  border-top: 1px solid #E5E5E7;
  overflow: hidden;
}
.btn{
  display: block;
  padding: 16px 20px;
  color: white;
  position: relative;
}
.smenu{
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
	background-color: rgba(62, 62, 62, 0.5);
}
.smenu a{
  display: block;
  padding: 16px 20px;
  color: white;
  font-size: 20px;
  margin: 4px 0;
  position: relative;
}
.smenu a:before{
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #FAFAFA;
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}

.smenu a:hover:before{
  opacity: 1;

}
.smenu #active:before{
	opacity: 1;
}
.itema:target .smenu{
  max-height: 10em;
}
#nf{
  display: block;
  padding: 16px 20px;
  color: white;
  position: relative;
}
.itema #nf:hover{
  background: rgba(206, 197, 192, .8);
	transition: .6s;
}
.item #nf:hover{
  background: rgba(206, 197, 192, .8);
	transition: .6s;
}
.itema .btn:hover{
  background: rgba(206, 197, 192, .8);
	transition: .6s;
}
.btn:hover{
  background: rgba(206, 197, 192, .8);
}
ul li#active a{
	background: rgba(206, 197, 192, .8);
}
.menu-btn{
	display: none;
}
@media (max-width: 800px) and (min-width: 400px){
		#spe{
			width: 120%;
		}
		h1{
			left:
			text-align: center;
		}
		h2{
			width: 55%;
			text-align: center;
		}

}
@media (max-width: 500px) and (min-width: 200px) {


		body.Home{
			min-width: 100vw;
		}
		body.About{
			min-width: 100vw;
		}
		body.Electronics{
			min-width: 100vw;
		}
		body.Electronics::before {
			background-image: url(../images/mobile.jpg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			content: '';
			height: 100%;
			left: 0;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: -1;

	}
		body.Gaming{
			min-width: 100vw;
		}
		#content{
			display: none;
		}
		.products{
			max-width: 90vw;
		}
		#box{
			height: 300px;
			width: 100%;;
			margin-top: 50px;
		}
		#spe{
			margin-top: 100px;
			position: absolute;
			min-width: 100vw;
			background-color: rgba(194, 188, 184, 0.7);
			text-align: center;
			padding: 10px 15px;
			left: 50%;
			transform: translateX(-50%);
		}
		h1{
			font-size: 2.5em;
		}
		h2{
			font-size: 1.4em;
			margin-top: 350px;
			padding: 10px;
			width: 80vw;
			left: 50%;
		}
		h2#sec{
			position: absolute;
			top: 1100px;
		}
		#pc{
			position: absolute;
			top: 1100px;
			left: 50%;
			max-width: 90vw;
			transform: translateX(-50%);
		}
		h2#thr{
			position: absolute;
			top: 2600px;
		}
		#car{
			position: absolute;
			top: 2600px;
			left: 50%;
			max-width: 90vw;
			transform: translateX(-50%);
		}
		h4{
			width: 70vw;
			padding: 5px 2px;
			font-size: 1em;
			max-height: 60px;
			top: -80;
			margin-top: -5px;
		}
		#mobile-menu{
			position: fixed;
			padding: 0;
			margin: 0;
			clear: both;
			max-height: 0;
			min-width: 100vw;
			transition:max-height .2s ease-out;
			z-index: 3;
			background: rgba(0,0,0,.2)
		}
		.menu-icon{
			float: right;
			cursor: pointer;
			padding: 30px 20px;
			position: relative;

		}
		.menu-icon .nav-icon{
			background: #333;
			display: block;
			height: 3px;
			width: 18px;
			position: relative;
			transition: background .2s ease-out;

		}
		.menu-icon .nav-icon:before{
			background: #333;
			content: "";
			display: block;
			height: 100%;
			width: 100%;
			position: absolute;
			transition: all .2s ease-out;
			top: 6px;

		}
		.menu-icon .nav-icon::after{
			background: #333;
			content: "";
			display: block;
			height: 100%;
			width: 100%;
			position: absolute;
			transition: all .2s ease-out;
			top: -6px;

		}
		.menu-btn{
			display: none;
		}

		.menu-btn:checked ~ .menu{
			max-height: 240px;
		}
		li{
			left: 0;
			width: auto;
		}
		ul{
			margin: 0;
		}
		ul li{
			float: left;
			padding-right: 20px;
		}
		ul li a .btn{
			display: none;
		}
		.mobile-smenu{
			display: none;
		}
		#deals :hover .btn {
			display: block;
			position: absolute;
		}
	.smenu a:hover:before{
	  opacity: 0;
}
	.fa-angle-right::before{
		display: none;
		top: 0;
		left: 0;
		position: absolute;
		padding: 20px 550px 0px;
		color: #FFF;
		z-index: 2;
		transform: rotate(90deg);

	}
	.fa-angle-left::before{
		display: none;

	}
	.middle{
		margin-right: 0;
		margin-left: 0;
	}
	.item{
		margin:0;
		border: 0;
		overflow: hidden;
	}
	.itema #nf:hover{
	  background: none;
		transition: .6s;
	}
	.item #nf:hover{
	  background: none;
		transition: .6s;
	}
	.itema .btn:hover{
	  background: none;
		transition: .6s;
	}
	.itema{
		margin:0;
		border: 0;
	  overflow: hidden;
	}
	#nf{
		padding: 15px 5px;
	}
}
